
#select{
    width: 100px;
    align-items: center;
    vertical-align: bottom;
    margin-top: 14px;
}

#outlined-basic{
    width: 300px;
    height: 10px;
}
.searchIcon{
    margin-left: 5px;
    width: 30px;
    color: #060b26;
    vertical-align: -5px;
    cursor: pointer;
}
